.u-header--background{
  background: $header-background;
}
.u-bgColor-green{
  background: #005842;
  height: 900px;
}

.u-bgColor-Lightgray{
  background: #f5f5f6;
}

.u-bgColor-Lightgray--g{
  background: #eeeeee;
}