.u-cover {
  opacity: 0;
  transition: .5s;
  animation: cover .5s;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: fixed;

  &--active {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
.title_name{
  font-size: 1.8em;
  color: #fff;
}
