.c-nav {
  font-size: $font-size_menu;
  overflow: hidden;
  position: relative;
  top: 20px; //高さ
  @include media-breakpoint-down(md) {
    display: none;
  }
  &__menu {
    display: flex;
    flex-direction: row;

    &--item {
      margin-right: $space_l;
    }
    &--item:last-child {
      margin-right: 0;
    }
    &--link {
      margin-right: 30px;
      display: inline-block;
      padding: 0.2em 0.3em;
      text-decoration: none;
      color: white;
      border: solid 3px $main-color;
      border-radius: 3px;
      transition: .4s;
      @include media-breakpoint-down(xs) {
          display: none;
        }
    }
    &--link:hover {
      color: $main-color;
      background: $background-default;
    }
  }
}