.c-panel {
  margin-right: $space_m;
  margin-bottom: $space_m;

  &--body {
    &--image {
      width: 300px;
      height: 320px;
      object-fit: cover;
      @include pro() {
        width: 400px;
        height: 320px;
      }
      @include sumaho() {
        width: 150px;
        height: 120px;
      }
    }
  }
}

.c-blog--side--panel {
  width: 60%;
  min-height: 600px;
  background: #fff;
  padding: 15px 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

  &--title {
    font-size: 2.5em;
    border-bottom: 5px #2dbcf6 solid;
    margin-bottom: $space_l;
  }

  &--container {
    margin-bottom: $space_m;
  }

  &--text {
    font-size: 1.3em;
  }
}

.c--blog--panel {
  width: 80%;
  height: auto;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 20px 25px;
  overflow: hidden;

  &--top {
    overflow: hidden;
    margin-bottom: 20px;
  }

  &--title {
    font-size: 2.5em;
    float: left;
    font-weight: 500;
  }

  &--cover {
    width: 690px;
    height: 380px;
    padding-bottom: 30px;
    @include ipad(){
      width: 290px;
      height: 280px;
    }
  }

  &--img {
    max-width: 100%;
    max-height: 100%;

  }

  &--text {
    font-size: 1.3em;
  }

  &--link {
    font-size: 2.8em;
    border-bottom: 3px solid #2dbcf6;
    float: right;
    color: #242727;
  }
}



.p-gallery-container--panel{
  width: calc(20% - #{$space_l});
  float: left;
  margin-right:$space_l;
  margin-bottom: $space_l;
  transition: .5s;
  box-sizing: border-box;
  &--active--medium{
    width: calc(12% - #{$space_l});
  }
  &--active--large{
    width: calc(10% - #{$space_l});
  }

  &--body {

  }
}