.p-about {
  padding-top: 50px;
  //padding-bottom: 100px;
  //background: $header-color; //todo　考え中
  //color: #fff;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  @include sumaho() {
    width: 100%;
  }


  &--container {
    //margin-top: 100px;
    display: flex;
    //flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    @include sumaho(){
      display: block;
    }
    &--text {
      font-size: 1.4em;
    }

    &--title {
      font-weight: 500;
      font-size: 1.4em;
    }

    &--center{
      text-align: center;
      margin-bottom: 50px;
    }

    &--left {
      margin-left: $space_m;
      margin-right: $space_m;
      display: flex;
      justify-content: space-around;
      @include sumaho(){
        flex-direction: column;
      }
      &--text {
        font-size: 1.4em;
      }
    }
  }

  &--image {
    max-width: calc(1330px - 50%);
    max-height: 300px;
    @include sumaho(){
      max-width:100%;
    }
  }
}
