.p-contact {
  text-align: center;
  //width: $site-width;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  @include sumaho(){
    width: 100%;
  }
  @include ipad(){
    width: 100%;
  }

  &__form {
    font-size: 1.7em;
    width: 40%;
    margin:0 auto;
    @include sumaho(){
      width: 60%;
    }
  }

  &__input {
    padding: .5em .6em;
    width: 100%;
    font-size: 1em;
    border: 1px solid #ebebeb;
    display: block;
    box-sizing: border-box;

    &--textarea {
      height: 300px;
      display: block;
    }
  }

  &__submit {
    width: 100%;
    font-size: 1.4em;
    border: none;
    border-radius: 3px;
    display: block;
    background: $header-color;
    color: white;
  }
  &__submit:hover{
    cursor: pointer;
  }
}
