.p-sns-container {
display: inline-flex;
  padding-top: 50px;

  &-bottom{
    width: 100px;
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius:5px;

    //margin-right: $space_s;
  }
  &--icon {
       color: white;
       font-size: 3em;
       display: inline-block;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translateY(-50%) translateX(-50%);

     }
  &--twitter {
    background: #2dbcf6;
  }
  &--facebook {
    background: #3578E5;
  }
  &--instagram{
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/

  }
}

.p-sns-container > a {
  margin-right: $space_s;
}