.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  //position: fixed;
  //top: 0;
  //left: 0;
}
.header--img{
  @include media-breakpoint-down(xs) {
    display: none;
  }
  @include media-breakpoint-down(md) {
width: 40%;
  }
}