.l-header{
  //todo userによる変更
  background: $header-color;
  z-index: 2;
  //overflow: hidden;
  @include ipad(){
    position: fixed;
    width: 100%;
  }
  &-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    width: 80%;
    height: 70px;
  }
}