#header {
  background: #e4e4e4;;
  height: 100vh;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding: 15px;
  background: #b7b7b7;
  //transform:translateY(20%);
}

.row {
  display: flex;
  &--enter{
    margin: 5px;
  }
}

